@model Locadora.Models.Locacao

@{
    ViewData["Detalhar"] = "Detalhar";
}

<h2>Detalhar</h2>

<div>
    <h4>Locacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataLocacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLocacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.CodigoLocacao">Editar</a> |
    <a asp-action="Listar">Voltar para Lista</a>
</div>
